SESSION_SECRET="session-secret"
MONGO_SRV="mongodb+srv://lucasb:YJqp02dJoPxqE8Zo@cluster0.7kxt6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

Copy the values from this .env.example file and paste them into the .env file.
Replace the values with your own and remove this comment.